@property --angle 
{
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@property --fade 
{
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --fade2 
{
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@font-face 
{
  font-family: "Bullet";
  src: url(fonts/Bullet.ttf) format("truetype");
}
@font-face 
{
  font-family: "Selawik";
  src: url(fonts/Selawik.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6
{
  font-family: "Bullet", sans-serif;
}
p, li, ul
{
  font-family: "Selawik";
}
@keyframes rotateGradient 
{
  0% { --angle: 0deg; }
  25% { --angle: 90deg; }
  50% { --angle: 180deg; }
  75% { --angle: 270deg; }
  100% { --angle: 360deg; }
}
@keyframes fadeIn 
{
  0% { --fade: 0%; --fade2: 0%; }
  100% { --fade: 100%; --fade2: 200%; }
}
.cool-gradients
{
  opacity: var(--fade);
  height: 100%; 
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background: 
    radial-gradient(circle, #ffffff00, #ffffff00 var(--fade), #ffffff var(--fade2)),
    radial-gradient(circle, #ffffff, #ffffff00),
    repeating-conic-gradient(from var(--angle), 
      #ffafaf 0deg, 
      #ffdeaf 12deg, 
      #ffffaf 24deg, 
      #afffc0 36deg, 
      #afe2ff 48deg, 
      #ddafff 60deg, 
      #ffafaf 72deg);
      /*linear-gradient(var(--angle), #ffafaf, #ffdeaf, #ffffaf, #afffc0, #afe2ff, #ddafff);*/
  animation: 
    rotateGradient 120s linear infinite,
    fadeIn 0.75s ease-out forwards;  
}
.cool-button,
.cool-button-plain
{
  white-space: nowrap;
  text-decoration: none;
  font-family: "Bullet";
  font-size: 14px;
  background-color: #ffffff; 
  color: black; 
  border: none;
  border-radius: 30px; 
  padding: 5px 10px; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer; 
  transition: box-shadow 0.1s linear;
  margin-bottom: 0px;
}
.cool-button:hover 
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.cool-button-plain:hover 
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.cool-button::before 
{
  background-image: url('images/link.png'); /* or use Unicode like '\1F517' for 🔗 */
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
  vertical-align: -4px;
}
.under-construction 
{
  background: repeating-linear-gradient(
    135deg,
    #ffafaf,
    #ffafaf 20px,
    #ffffaf 20px,
    #ffffaf 40px
  );
  text-align: center;
  background-size: 200% 200%;
  animation: cautionStripes 4s linear infinite;
}
.gradient-border 
{
  align-items: center;
  border: 10px solid; /* Border width */
  border-image-slice: 1;

  /* Gradient for the border */
  border-image-source: repeating-conic-gradient(from var(--angle), 
      #ffafaf 0deg, 
      #ffdeaf 12deg, 
      #ffffaf 24deg, 
      #afffc0 36deg, 
      #afe2ff 48deg, 
      #ddafff 60deg, 
      #ffafaf 72deg);
      /*linear-gradient(var(--angle), #ffafaf, #ffdeaf, #ffffaf, #afffc0, #afe2ff, #ddafff);*/
  animation: rotateGradient 60s linear infinite;
  overflow: hidden; 
}
.gradient-border img
{
  display: block;
}
img
{
  display: block;
}
hr
{
  color: #ffffff66;
}
h1 
{ 
  font-size: 2.5rem; 
  margin: 15px;
  font-weight: normal;
}
h2 
{ 
  font-size: 2rem; 
  margin: 15px; 
  font-weight: normal;
}
h3 
{
  font-size: 1.5rem; 
  margin: 15px;
  font-weight: normal;
}
h4 
{
  font-size: 1rem; 
  margin: 15px;
  font-weight: normal;
}
.paper-title
{
  font-family: "Bullet", sans-serif;  
  font-size: 1.5rem; 
  margin-left: 15px;
  margin-top: 6px;  
 /* background: linear-gradient(90deg, #0044ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.paper-authors
{
  font-family: "Bullet", sans-serif;
  font-size: 1rem; 
  margin-left: 15px;
}
.dates
{
  font-family: "Bullet", sans-serif;
  font-size: 1rem; 
}
.shadow-title
{
  background: linear-gradient(90deg, #ffff00, #ff7f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: 
    drop-shadow(0px 1px var(--title-outline))
    drop-shadow(1px 0px var(--title-outline))
    drop-shadow(0px -1px var(--title-outline))
    drop-shadow(-1px 0px var(--title-outline))
    drop-shadow(2px 2px #0000007f);
}
.shadow
{
  filter: 
    drop-shadow(2px 2px #0000007f);

}
.shadow-header
{
  width: fit-content;
  background: linear-gradient(90deg, #7fff00, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: 
    drop-shadow(0px 1px var(--header-outline))
    drop-shadow(1px 0px var(--header-outline))
    drop-shadow(0px -1px var(--header-outline))
    drop-shadow(-1px 0px var(--header-outline))
    drop-shadow(2px 2px #0000007f);
}
.me
{
  display: inline;
  background: linear-gradient(90deg, #4400ff, #bb00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box {display: flex; flex-direction: column; }
.box-left {padding-right:15px; }
.box-paper {display: flex; flex-direction: column; margin-bottom: 16px}
.box-paper-left {padding-right:15px; margin-bottom: 0px}
.box-paper-right {flex-direction: row; padding-bottom: 16px}
.box-about-me {display: flex; flex-direction: column; align-items: first baseline;}
.box-about-me-left {padding-right:15px; }
.manhunt-title 
{
  margin-bottom: -7px; 
  margin-top: 0px; 
  font-size: 1.7rem;
  color: #ff0000;
  margin-left: 0px;
  filter: 
    drop-shadow(1px 1px #0000007f);
}
.tanks-title 
{
  margin-bottom: -7px; 
  margin-top: -7px; 
  font-size: 2.5rem;
  color: rgb(0, 150, 255);
  margin-left: 0px;
  filter: 
    drop-shadow(2px 2px rgb(32, 107, 159));
}
.tanks-subtitle 
{
  margin-top: -7px; 
  font-size: 1rem;
  color: rgb(32, 107, 159);
  margin-left: 3px;
  filter: 
    drop-shadow(0.66px 0.66px #000000);
}
@media (min-width: 1200px) 
{ 
  .box { flex-direction: row; } 
  .box-left { flex: 0 650px; }
}
@media (min-width: 600px) 
{ 
  .box-paper { flex-direction: row; } 
  .box-paper-left { margin-bottom: 16px; flex: 0 1050px }
  .box-paper-right {flex-direction: column; padding-bottom: 0px}
}
@media (min-width: 950px) 
{ 
  .box-about-me { align-items: center; flex-direction: row; }
  .box-about-me-left { flex: 0 650px; }
}
@media (max-width: 599px) 
{
  .box-paper-right {display: flex;}
}
:root 
{
  --title-outline: #550000;
  --header-outline: #000088;
  --paper-outline: #00000000;
}